body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(45deg, blue, 28%, pink);
    justify-content: center;
    align-items: center;
}

#header {
    color: #fff;
    margin: 0;
    position: relative;
    width: 40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 50px;
    height: 20%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#title {
    font-weight: 600;
    position: relative;
}

#author {
    font-weight: 600;
    position: relative;
    float: right;
    font-size: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

#downloadarea {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: 70%;
    height: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#urlinput {
    width: 100%;
    height: 70px;
    position: relative;
    font-size: 100px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    outline: none;
    padding: 0 10px;
    font-size: 40px;
}

#musicdownloadbtn {
    width: 20%;
    height: 70px;
    position: relative;
    top: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 35px;
    background: linear-gradient(45deg, rgb(0, 0, 255), 28%, rgb(255, 0, 0));
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
    transition: .3s;
}

#musicdownloadbtn:hover {
    background-color: rgb(134, 173, 230);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

#videodownloadbtn {
    width: 20%;
    height: 70px;
    position: relative;
    top: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 35px;
    background: linear-gradient(45deg, purple, 40%, orange);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
    transition: .3s;
}

#videodownloadbtn:hover {
    background-color: rgb(91, 219, 96);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

@media only screen and (max-width:1200px) {
    #videodownloadbtn {
        margin-top: 1%;
        width: 90%;
    }

    #musicdownloadbtn {
        width: 90%;
    }
}

@media only screen and (max-width:768px) {
    #videodownloadbtn {
        margin-top: 1%;
        width: 90%;
    }

    #musicdownloadbtn {
        width: 90%;
    }

    #urlinput {
        width: 90%;
        font-size: larger;
        text-align: center;
    }

    #header {
        width: 90%;
    }

    #title {
        font-size: 31px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #author {
        font-size: 25px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}